#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  font-family: 'Roboto', sans-serif;
  background: rgb(47,47,48);
background: radial-gradient(circle, rgba(47,47,48,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
}
.simon-container{
  position: relative;
  width: 65vmin;
  height: 65vmin;
  border-radius: 50%;
  padding: 20px;
  background: #333333;;
  border: 5px solid #1111;
}

.simon-buttons_container{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #333333;
}
/*-----------------Botones-----------------*/
.simon-button{
  width: 47%;
  height: 47%;
  cursor:auto;
  position:absolute;
  filter: brightness(0.7);
  transition: all 0.3s;
  border: none;
  outline: none;
  background: none;
}
.simon-button:hover,
.simon-button:focus,
.simon-button:active {
  border: none;
  outline: none; 
}
/* Colores */
.btn-green {
  background: radial-gradient(circle, #97de9b, #4caf50);
}

.btn-red {
  background: radial-gradient(circle, #f08282, #f44336);
}

.btn-yellow {
  background: radial-gradient(circle, #ffbf5f, #ff9800);
}

.btn-blue {
  background: radial-gradient(circle, #81c6ff, #2196f3);
}

/*Posiciones*/
.simon-button:first-child{
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
}

.simon-button:nth-child(2){
  top: 0;
  right: 0;
  border-radius: 0 100% 0 0;
}

.simon-button:nth-child(3){
  border-radius: 0 0 0 100%;
  bottom: 0;
  left: 0;
}

.simon-button:last-child{
  border-radius: 0 0 100% 0;
  bottom: 0;
  right: 00;
}

.simon-button.active {
  transform: scale(0.98);
}

.active{
  animation: brightness 0.9s ease-out infinite;
}
/*Sombra activa*/
.active.btn-blue{
    box-shadow: 20px 20px 100px #82b1ff;
}

.active.btn-green{
    box-shadow: -20px 20px 100px #80e27e;
}
.active.btn-red{
    box-shadow: -20px -20px 100px  #ff8a80;
}
.active.btn-yellow{
    box-shadow: 20px -20px 100px  #ffeb3b;
}

@keyframes brightness {
  0% {
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(1.3);
  }
  100% {
    filter: brightness(0.7);
  }
}

.button-middle_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(20deg, #333333 26%, #777f7f 81%);
  width: 26vmin;
  height: 26vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
.button-middle{
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  background: rgb(205,205,205);
  background: radial-gradient(circle, rgba(205,205,205,1) 0%, rgba(98,97,97,1) 100%);
  cursor: pointer;
  border: 4px solid rgb(24, 24, 24);
  font-size: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-middle:hover{
  border: 4px solid rgb(24, 24, 24);
}
.button-middle_text{
  color: #121212; /* Rojo neón */
  font-family: 'Roboto', sans-serif; /* Fuente moderna */
  font-size: 2em; /* Tamaño de fuente grande para visibilidad */
  font-weight: bold; /* Negrita para resaltar */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Efecto de brillo */
}


.waiting{
  border: 4px blue solid;
}

.score{
  font-size: 4vmin;
}
.waiting{
  transition: all 0.5s;
  animation: waiting 1s ease;
}
@keyframes waiting {
  0% {
    border: 1px solid blue;
  }
  50% {
    border: 10px solid blue;
  }
  100% {
    border: 1px solid blue;
  }
}